#IdCard {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 5%;
  border: solid;

  & img {
    height: 100%;
    margin-right: 2%;
  }
}

#idInfo {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  text-align: left;
}
h1,
h3 {
  border: solid;
  width: 80%;
  margin: 5%;
  text-align: left;
  padding: 0.5%;
}
